<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
    <title>Workflow Automator</title>
</head>

<body>

    <nav class="navbar">
        <h3 class="navbar__logo">Workflow Automator</h3>
        <button class="navbar__button" id="themeToggler"><i class='bx bx-sun'></i></button>
    </nav>

    <header class="header">
        <div class="header__title">
            <h1>Hi,I am your Avatar<br></h1>
            <h1><br></h1>
            <h2>How can I help you today?</h2>
        </div>
        <div>
            <iframe
              src="https://chattier.dev/chatbot-iframe?cid=uhADEXxEMXuX8eAkR99g&size=large&type=avatar&identity=male2&language=en-GB"
              width="205px"
              height="400px"
              frameborder="0"
              allowtransparency="true"
              referrerpolicy="no-referrer-when-downgrade"
              style="border:0; position:fixed; right: 0.5rem; bottom: 0.5rem; z-index: 500"
              allow="microphone">
            </iframe>
          </div>
        <!-- <div class="header__image-container">
            <img src="https://static.vecteezy.com/system/resources/previews/039/856/207/non_2x/a-robot-with-a-human-brain-the-combination-of-people-and-ai-artificial-intelligence-with-human-thinking-free-png.png" alt="Agent Image" class="header__image">
        </div> -->
    </header>
    <section class="chats"></section>
    <!-- <div>
        <iframe
          src="https://chattier.dev/chatbot-iframe?cid=uhADEXxEMXuX8eAkR99g&size=large&type=avatar&identity=female1&language=en-GB"
          width="200px"
          height="400px"
          frameborder="0"
          allowtransparency="true"
          referrerpolicy="no-referrer-when-downgrade"
          style="border:0; position:fixed; right: 0.5rem; bottom: 0.5rem; z-index: 500"
          allow="microphone">
        </iframe>
      </div> -->

    <!-- <section class="prompt">
        <form action="#" class="prompt__form" novalidate>
            <div class="prompt__input-wrapper">
                <input type="text" placeholder="Enter a prompt here" class="prompt__form-input" required>
                <button class="prompt__form-button" id="sendButton">
                    <i class='bx bx-send'></i>
                </button>
                <button class="prompt__form-button" id="deleteButton">
                    <i class='bx bx-trash'></i>
                </button>
            </div>
        </form>
        <p class="prompt__disclaim">
            I will make your work 10x faster
        </p>
    </section> -->



    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>
